<% if user_signed_in? %>
  <main class="row">
    <aside class="col-md-2 sidebar">
      <%= render 'layouts/sidebar' %>
    </aside>
    <article class="col-xs-12 col-md-9 maincontent">
      <div class="toppage_profilename">
        <div class="toppage_profile_img">
          <% if @user.image? %>
            <%= image_tag @user.image.url, size:"120x120" %>
          <% else %>
            <%= image_tag "no_image.png", size:"120x120" %>
          <% end %>
        </div>
        <div class="toppage_profile_name">
          <h4><%= @user.full_name_kanji %></h4>
        </div>
      </div>
      <section>
        <div class="toppage_infobox">
          <span class="box-title">お知らせ</span>
          <p>お知らせはありません。</p>
        </div>
        <div class="toppage_infobox">
          <span class="box-title">定期考査</span>
          <ul><% @personal_achievement_test.each do |achievement| %>
            <li><%= link_to achievement.periodical_inspection.name, user_personal_achievement_test_path(@user, achievement.id), :style=>"color:#333" %></li>
          <% end %></ul>
        </div>
        <div class="toppage_infobox">
          <span class="box-title">通知表</span>
          <ul><% @report_cards.each do |report| %>
            <li><%= link_to report.schoolyear_and_schoolterm.name, user_report_card_path(@user, report.id), :style=>"color:#333" %></li>
          <% end %></ul>
        </div>
      </section>
    </article>
  </main>
<% else %>
  <main>
    <div class="jumbotron jumbotron-fluid">
      <h2 class="home_title display-4 col-md-12">Welcome to <br class="br-sp">GradeManagement</h2>
      <p class="home_title_description">本サービスは、成績管理に役立つツールです。</p>
      <hr class="my-4">
      <div class="home_title_btn">
        <button class="home_title_newbtn btn btn-primary"><%= link_to "新規登録", new_user_registration_path, :style=>"color:#fff" %></button>
        <button class="home_title_loginbtn btn btn-primary"><%= link_to "ログイン", new_user_session_path, :style=>"color:#fff" %></button>
      </div>  
    </div>
  </main>
<% end %>
