<% provide(:title, "ログイン") %>
<div class="login_title">
  <h3>《ログイン》</h3>
  <p>ログインに必要な情報を入力してください。</p>
</div>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="row justify-content-center login_box">
    <div class="col-xs-12 col-md-4 item_leftbox">
      <div class="item">
        <h5><%= f.label :email, "メールアドレス" %></h5>
      </div>
    </div>
    <div class="col-xs-12 col-md-6 input_rightbox">
      <%= f.email_field :email, autocomplete: "email", placeholder: "abc@example.com", class: "form-control" %>
    </div>
  </div>
  <div class="row justify-content-center login_box">
    <div class="col-xs-12 col-md-4 item_leftbox">
      <div class="item">
        <h5><%= f.label :password, "パスワード" %></h5>
      </div>
    </div>
    <div class="col-xs-12 col-md-6 input_rightbox">
      <%= f.password_field :password, autocomplete: "password", placeholder: "password", class: "form-control" %>
    </div>
  </div>
  <div class="remember_me">
    <% if devise_mapping.rememberable? %>
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me, "ログインしたままにする" %><br />
    <% end %>
  </div>
  <div class="submit_btn">
    <%= f.submit "ログイン", class: "btn btn-primary" %>
  </div>
<% end %>
<div class="link">
  <%= link_to "未登録の方はこちら", new_user_registration_path %>
</div>
