<% provide(:title, "定期考査") %>
<main class="row">
  <aside class="col-md-3 sidebar">
    <ul>
      <li><%= link_to "マイページ", user_path(current_user) %></li>
      <li><%= link_to "お知らせ", "#" %></li>
      <li><a class="btn dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown">
        定期考査
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <% @personal_achievement_test.each do |achievement| %>
          <li class="dropdown-item"><%= link_to achievement.periodical_inspection.name, user_personal_achievement_test_path(@user, achievement.id) %></li>
        <% end %>
      </ul></li>
      <li><%= link_to "成績表", "#" %></li>
      <li><%= link_to "定期考査登録", new_user_personal_achievement_test_path(current_user) %></li>
      <li><%= link_to "成績表登録", "#" %></li>
    </ul>
  </aside>
  <article class="col-xs-12 col-md-9 maincontent">
    <header>
      <div class="registration_title">
        <h3>《定期考査結果》</h3>
      </div>
    </header>
    <section>
      <div class="col-md-6 offset-md-3 profile-boxitem">
        <h6>国語</h6>
        <h5><%= @testpoint.japanese %></h5>
      </div>
      <div class="col-md-6 offset-md-3 profile-boxitem">
        <h6>数学</h6>
        <h5><%= @testpoint.mathematics %></h5>
      </div>
      <div class="col-md-6 offset-md-3 profile-boxitem">
        <h6>英語</h6>
        <h5><%= @testpoint.english %></h5>
      </div>
      <div class="col-md-6 offset-md-3 profile-boxitem">
        <h6>理科</h6>
        <h5><%= @testpoint.science %></h5>
      </div>
      <div class="col-md-6 offset-md-3 profile-boxitem">
        <h6>社会</h6>
        <h5><%= @testpoint.social_studies %></h5>
      </div>
      <div class="col-md-6 offset-md-3 profile-boxitem">
        <h6>5教科合計</h6>
        <h5><%= @testpoint.five_subjects_total %></h5>
      </div>
      <div class="col-md-6 offset-md-3 profile-boxitem">
        <h6>音楽</h6>
        <h5><%= @testpoint.music %></h5>
      </div>
      <div class="col-md-6 offset-md-3 profile-boxitem">
        <h6>美術</h6>
        <h5><%= @testpoint.fine_arts %></h5>
      </div>
      <div class="col-md-6 offset-md-3 profile-boxitem">
        <h6>技術家庭</h6>
        <h5><%= @testpoint.technical_arts_and_home_economics %></h5>
      </div>
      <div class="col-md-6 offset-md-3 profile-boxitem">
        <h6>保健体育</h6>
        <h5><%= @testpoint.health_and_physical_education %></h5>
      </div>
      <div class="col-md-6 offset-md-3 profile-boxitem">
        <h6>9教科合計</h6>
        <h5><%= @testpoint.nine_subjects_total %></h5>
      </div>

    </section>
  </article>
</main>
