<% provide(:title, @user.full_name_kanji) %>
<main class="row">
  <aside class="col-md-2 sidebar">
    <%= render 'layouts/sidebar' %>
  </aside>
  <article class="col-xs-12 col-md-9 maincontent">
    <header>
      <div class="col-md-6 offset-md-3 profile-boxitem">
        <h6>名前</h6>
        <small><%= @user.full_name_kana %></small>
        <h5><%= @user.full_name_kanji %></h5>
      </div>
    </header>
    <section>
      <div class="col-md-6 offset-md-3 profile-boxitem">
        <h6>校舎名</h6>
        <h5><%= @user.cram_schoolhouse.name %></h5>
      </div>
      <div class="col-md-6 offset-md-3 profile-boxitem">
        <h6>学校</h6>
        <h5><%= @user.school_name %></h5>
      </div>
      <div class="col-md-6 offset-md-3 profile-boxitem">
        <h6>学年</h6>
        <h5><%= @user.school_year.name %></h5>
      </div>
      <div class="col-md-6 offset-md-3 profile-boxitem">
        <h6>生年月日</h6>
        <h5><%= @user.birthday %></h5>
      </div>
      <% if @user == current_user %>
        <div class="col-md-6 offset-md-3 profile-boxitem">
          <h6>メールアドレス</h6>
          <h5><%= @user.email %></h5>
        </div>  
        <div class="">
          <%= link_to "プロフィール編集", edit_user_registration_path(current_user) %>
          <%= link_to "アカウント削除", registration_path(current_user), data: { confirm: "本当によろしいですか?" }, method: :delete  %>
        </div>
      <% end %>
    </section>
  </article>
</main>
