<ul>
  <li><%= link_to "マイページ", user_path(current_user) %></li>
  <li><%= link_to "お知らせ", "#" %></li>
  <li><a class="btn dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown">
    定期考査
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <% @personal_achievement_test.each do |achievement| %>
      <li class="dropdown-item"><%= link_to achievement.periodical_inspection.name, user_personal_achievement_test_path(@user, achievement.id) %></li>
    <% end %>
  </ul></li>
  <li><a class="btn dropdown-toggle" id="dropdownMenu2" data-toggle="dropdown">
    通知表
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
    <% @report_cards.each do |report| %>
      <li class="dropdown-item"><%= link_to report.schoolyear_and_schoolterm.name, user_report_card_path(@user, report.id) %></li>
    <% end %>
  </ul></li>
  <li><%= link_to "定期考査登録", new_user_personal_achievement_test_path(current_user) %></li>
  <li><%= link_to "通知表登録", new_user_report_card_path(current_user) %></li>
</ul>
