<!DOCTYPE html>
<html lang="ja">
  <head>
    <%= csrf_meta_tags %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>
  <body>
    <div class="container d-flex flex-column p-3 text-center">
      <%= render 'layouts/header' %>
      <%= render 'users/shared/flash_messages', class: "error_messages" %>
      <%= yield %>
      <%= render 'layouts/footer' %>
    </div>
    <%= javascript_include_tag 'application' %>
  </body>
</html>
